---
extends: default
rules:
  line-length:
    max: 150
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    ignore:
      - .github/workflows/*.yaml
  quoted-strings:
    quote-type: double
    required: only-when-needed
