---
- name: All hosts playbook
  hosts: all
  become: true
  pre_tasks:
    - name: Include sanity check
      ansible.builtin.include_tasks: sanity_check.yaml
      tags: [always]
  roles:
    - name: System setup
      role: system
      tags: [system]

    - name: Containerd installation
      role: containerd
      tags: [containerd]

    - name: Kubernetes installation
      role: kube_install
      tags: [kube_install]
