---
- name: Master hosts playbook
  hosts: masters
  become: true
  pre_tasks:
    - name: Include sanity check
      ansible.builtin.include_tasks: sanity_check.yaml
      tags: [always]
  roles:
    - name: Kubernetes bootstrapping
      role: kubeadm
      tags: [kubeadm]

    - name: Kubernetes CLI installation
      role: kubectl
      tags: [kubectl]

    - name: Helm installation
      role: helm
      tags: [helm]

    - name: Kubernetes network configuration
      role: kube_network
      tags: [kube_network]
