---
- name: Master hosts Addons playbook
  hosts: masters
  become: true
  pre_tasks:
    - name: Include sanity check
      ansible.builtin.include_tasks: sanity_check.yaml
      tags: [always]
  roles:
    - name: Approve bootstrap certificate requests
      role: kube_csr
      tags: [kube_csr]
