---
- name: Copy kubeadm-config
  ansible.builtin.template:
    src: kubeadm-config.yaml.j2
    dest: /etc/kubernetes/kubeadm-config.yaml
    owner: root
    group: root
    mode: "0644"

- name: Initialize Kubernetes Cluster
  ansible.builtin.command:
    cmd: kubeadm init --config=/etc/kubernetes/kubeadm-config.yaml
    creates: /etc/kubernetes/admin.conf
  register: kubeadm_init
  failed_when: kubeadm_init.rc != 0
  changed_when: kubeadm_init.rc == 0
    and kubeadm_init.stdout.find('skipped') == -1

- name: Create .kube directory
  ansible.builtin.file:
    path: ~/.kube
    state: directory
    mode: "0700"

- name: Copy admin.conf to .kube directory
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: ~/.kube/config
    remote_src: true
    mode: "0600"

- name: Get kubeadm join command
  ansible.builtin.command:
    cmd: kubeadm token create --print-join-command
  register: kubeadm_join_command_raw
  failed_when: kubeadm_join_command_raw.rc not in [0, 2]
  changed_when: false

- name: Set fact kubeadm_join_command and master host
  ansible.builtin.set_fact:
    kubeadm_master_host: "{{ ansible_host }}"
    kubeadm_join_command: "{{ kubeadm_join_command_raw.stdout_lines[0] }}"
  when: kubeadm_join_command_raw.rc == 0

- name: Copy kubeadm join command and master host to temporary file
  ansible.builtin.template:
    src: kubeadm_join_command.yaml.j2
    dest: "{{ kubeadm_join_command_file }}"
    mode: "0644"
  delegate_to: localhost
  changed_when: false
  become: false

- name: Untaint master node if scheduling on master is enabled
  kubernetes.core.k8s_taint:
    state: absent
    name: "{{ item }}.{{ cluster_domain }}"
    taints:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
  loop: "{{ groups['masters'] }}"
  when: kubeadm_schedule_on_master
