{% if argocd_main_app_repo_private %}
---
apiVersion: v1
kind: Secret
metadata:
  name: repo-auth-{{ argocd_main_app_repo_url | replace("https://", "") | replace("http://", "") | replace(".git", "") | replace("/", "-") | replace(".", "-") | replace("_", "-") }}
  namespace: {{ argocd_main_app_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_main_app_repo_url }}
  username: {{ argocd_main_app_repo_username }}
  password: {{ argocd_main_app_repo_password }}
{% endif %}
---
apiVersion: {{ argocd_api_version }}
kind: Application
metadata:
  name: {{ argocd_main_app_name }}
  namespace: {{ argocd_main_app_namespace }}
spec:
  project: default
  destination:
    server: {{ argocd_main_app_destination_server }}
    namespace: {{ argocd_main_app_destination_namespace }}
  source:
    repoURL: {{ argocd_main_app_repo_url }}
    targetRevision: {{ argocd_main_app_repo_branch }}
    path: {{ argocd_main_app_repo_path }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - RespectIgnoreDifferences=true
    retry:
      limit: -1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
