---
- name: Install packages (Debian/Ubuntu)
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - kubectl
    - bash-completion

- name: Mark kubectl on hold (Debian/Ubuntu)
  ansible.builtin.dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop:
    - kubectl
