---
- name: Include OS specific installation tasks
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}.yaml"
  when: ansible_os_family in ['Debian', 'RedHat']

- name: Configure system
  ansible.builtin.include_tasks: system.yaml
