---
apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: openebs-cstor-disk-pool
  namespace: openebs
spec:
  pools:
{% for bd in block_device_info.resources %}
    - nodeSelector:
        kubernetes.io/hostname: {{ bd.spec.nodeAttributes.nodeName }}
      dataRaidGroups:
        - blockDevices:
            - blockDeviceName: {{ bd.metadata.name }}
      poolConfig:
        dataRaidGroupType: stripe

{% endfor %}
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: openebs-cstor
provisioner: cstor.csi.openebs.io
allowVolumeExpansion: true
parameters:
  cas-type: cstor
  cstorPoolCluster: openebs-cstor-disk-pool
  replicaCount: "3"
