#jinja2: lstrip_blocks: "True" , trim_blocks: "True"
---
apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: openebs-cstor-disk-pool
  namespace: openebs
spec:
  pools:
{% set block_devices = {} %}
{% for bd in block_device_info.resources %}
  {% if block_devices[bd.spec.nodeAttributes.nodeName] is not defined %}
    {% set _ = block_devices.update({bd.spec.nodeAttributes.nodeName: []}) %}
  {% endif %}
  {% set _ = block_devices[bd.spec.nodeAttributes.nodeName].append(bd.metadata.name) %}
{% endfor %}
{% for node in block_devices|sort %}
    - nodeSelector:
        kubernetes.io/hostname: {{ node }}
      poolConfig:
        dataRaidGroupType: {{ openebs_dataraidgrouptype }}
      dataRaidGroups:
        - blockDevices:
          {% for bd in block_devices[node] %}
            - blockDeviceName: {{ bd }}
          {% endfor %}
{% endfor %}
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: openebs-cstor
provisioner: cstor.csi.openebs.io
allowVolumeExpansion: true
parameters:
  cas-type: cstor
  cstorPoolCluster: openebs-cstor-disk-pool
  replicaCount: "{{ openebs_replicas }}"
