---
- name: Include OS specific installation tasks
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}.yaml"
  when: ansible_os_family in ['Debian', 'RedHat']

- name: Create containerd directory
  ansible.builtin.file:
    path: /etc/containerd
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Populate containerd config with default values
  ansible.builtin.shell:
    cmd: containerd config default > {{ containerd_config }}
  changed_when: false

- name: Configure cgroup driver to systemd in containerd config
  ansible.builtin.lineinfile:
    path: "{{ containerd_config }}"
    regexp: ^( {1,}SystemdCgroup =).*$
    line: \1 true
    backrefs: true
  notify: Restart containerd
  changed_when: false

- name: Change sandbox image in containerd config
  ansible.builtin.lineinfile:
    path: "{{ containerd_config }}"
    regexp: ^( {1,}sandbox_image =).*$
    line: \1 "{{ containerd_sandbox_image }}"
    backrefs: true
  notify: Restart containerd
  changed_when: false

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
